doctype html5
html
  head
    title Clock
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Lato:100" rel="stylesheet")
    link(href="/stylesheets/app.css" rel="stylesheet")
  body
    #container
      #app
  script(src="/javascripts/app.js")
